/* roboto-regular - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/roboto-v20-latin_cyrillic-ext_cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}

:root {
  --text-title-color: rgb(33, 33, 33); /* цвет заглавий */
  --text-primery-color: #757575; /* цвет текста*/
  --text-decoration-color: #ffffff;
  --bg-primary-color: #ffffff; /*основной цвет фона*/
  --bg-accent-color: #000000; /* вторичный цвет фона*/
  --accent-color: #2196f3; /* акцент*/
  --title-font: "Roboto", sans-serif;
}
body {
  font-family: var(--title-font);
  letter-spacing: 0.03em;
  background-color: var(--bg-primary-color);
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
}
.hero {
  background-color: var(--bg-accent-color);
  color: var(--text-decoration-color);
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.89;
  letter-spacing: 0.06em;
  color: var(--text-decoration-color);
  cursor: pointer;
  background-color: var(--accent-color);
}
.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
